<!DOCTYPE html>
<html>
    <body>
        <form method = "POST">
            <input type = "text" id = "Start" name = "st">
            <input type = "text" id = "End" name = "dest">
            <input type = "text" id = "Leave" name = "dep_date">
            <input type = "text" id = "Return" name = "ret_date">
            <input type = "text" id = "Adults" name = "adult">
            <input type = "text" id = "Children" name = "child">
            <input type = "text" id = "Infants" name = "infant">
            <input type = "submit" value = "Submit">
        </form>
        <pre>{{ out }}</pre>
    </body>
</html>